<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.verifymyage.sdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name="uk.co.verifymyage.sdk.VerifyOptionsActivity" />
        <activity android:name="uk.co.verifymyage.sdk.VerifyMyAgeVerificationFlow" />
        <activity android:name="uk.co.verifymyage.sdk.VerificationsResultActivity" />
        <activity android:name="uk.co.verifymyage.sdk.IdActivity" />
        <activity android:name=".idscan.MainActivity" />
        <activity android:name=".idscan.MainResultView" />
    </application>

</manifest>